# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.suo
*.user
*.swp
*.swo

# Logs
*.log

# node modules
node_modules/*

# Laravel
recaudify-api/.env
recaudify-api/vendor/
recaudify-api/storage/framework/views/
recaudify-api/storage/framework/cache/
recaudify-api/storage/framework/sessions/
recaudify-api/storage/logs/
recaudify-api/storage/pail/
recaudify-api/storage/*.key
recaudify-api/database/database.sqlite
recaudify-api/.playwright/*
recaudify-api/.playwright-cli/*

# Skills
.playwright-cli/*

# demo
cobranza_files/*

# Datos Vps 
Datos del VPS.txt
