# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.suo
*.user
*.swp
*.swo

# Logs
*.log

# Laravel
recaudify-api/.env
recaudify-api/vendor/
recaudify-api/storage/framework/views/
recaudify-api/storage/framework/cache/
recaudify-api/storage/framework/sessions/
recaudify-api/storage/logs/
recaudify-api/storage/pail/
recaudify-api/storage/*.key
recaudify-api/database/database.sqlite
