.agents/
.claude/
.playwright/
.playwright-cli/ 
api-docs.json
node_modules/
recaudify-web/node_modules/
recaudify-web/.angular/
recaudify-web/dist/*
recaudify-api/vendor/
recaudify-api/storage/
recaudify-api/bootstrap/cache/
*.md

# Datos Vps 
Datos del VPS.txt